@model CompanyWebsite.Models.User
@{
    ViewBag.Title = "Login";
}

<div class="jumbotron">
    <h1>Login</h1>
    <div id="login-div">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "Username", @class = "form-control" } })
                    </td>
                </tr>
                <tr class="blank-row"><td></td></tr>
                <tr>
                    <td>
                        @Html.EditorFor(model => model.UserPass, new { htmlAttributes = new { placeholder = "Password", type = "password", @class = "form-control" } })
                    </td>
                </tr>
                <tr class="blank-row"><td></td></tr>
                <tr>
                    <td>
                        <input type="submit" name="submit" value="Login" class="btn btn-primary btn-group-sm" />
                        <input type="reset" name="reset" value="Clear" class="btn btn-primary btn-group-sm" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>

<style>
    .jumbotron {
        background: url(../Content/Images/Jumbotron/PC2.jpg) no-repeat top left;
        background-size: cover;
    }

    .blank-row {
        height: 5px !important;
    }
</style>