@{
    ViewBag.Title = "Looking For A Job?";
}
<h2>@ViewBag.Title</h2>

<p>
    We’re always looking for talented people.
    <br /><br />
    Do you have experience programming? Do you have PC support experience?
    <br /><br />
    Here are some of the technologies/services that our clients are requesting:
</p>

<div class="row">
    <div class="col-md-3">

        <b>Languages:</b>
        <ul>
            <li>C#, ASP.NET, VB.NET, VB6</li>
            <li>PHP, Yii Framework</li>
            <li>Adobe ColdFusion</li>
            <li>Alpha Software/AlphaAnywhere</li>
        </ul>
    </div>
    <div class="col-md-3">
        <b>Databases:</b>
        <ul>
            <li>Microsoft SQL</li>
            <li>Pervasive SQL</li>
            <li>MySQL</li>
            <li>Firebird</li>
        </ul>
    </div>
    <div class="col-md-3">
        <b>Operating Systems:</b>
        <ul>
            <li>Microsoft Server 2003, 2008, 2012</li>
            <li>Windows XP, 7, 8, 8.1, 10</li>
            <li>Linux, Apache</li>
            <li>cPanel, WHM</li>
        </ul>
    </div>
    <div class="col-md-3">
        <b>Other Skills:</b>
        <ul>
            <li>Network support and PC Support</li>
            <li>Graphic Design</li>
            <li>WordPress</li>
            <li>Mentoring/Training</li>
        </ul>
    </div>
</div>

<h3>Send a cover letter with your resume to <a href="mailto:jobs@reainc.net">Jobs@reainc.net</a></h3>
