@{
    ViewBag.Title = "Clients";
}
<h2>Some Of Our Clients</h2>

<div class="row">
    <div class="col-md-3">
        <ul>
            <li><a href="https://www.carlsonwagonlit.com/">Carlson Wagonlit Travel</a></li>
            <li><a href="http://journaltech.com/">SUSTAIN Technologies, Inc.</a></li>
            <li><a href="http://www.napa.courts.ca.gov/">Superior Court of California, Napa</a></li>
            <li><a href="https://sommers-law.ca/">Sommer’s Business Law Firm</a></li>
            <li><a href="https://www.alphatogo.com/">AlphaToGo, LLC</a></li>
            <li><a href="http://bookcentre.ca/">Canadian Children’s Book Centre</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li><a href="http://www.benchmarksw.com/">Benchmark Software, LLC</a></li>
            <li><a href="http://coldironcompanies.com/">Cold Iron Companies</a></li>
            <li><a href="https://ocasi.org/">OCASI</a></li>
            <li><a href="https://www.attorneygeneral.jus.gov.on.ca/english/">Ministry of the Attorney General</a></li>
            <li><a href="https://mcss.gov.on.ca/en/mcss/index.aspx">Ministry of Community Services</a></li>
            <li><a href="https://gicwealth.ca/">GIC Wealth Management, Inc.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li><a href="https://www.timeshareaz.com/">SmartChoice Timeshare Resales</a></li>
            <li><a href="https://broadwayhealth.ca/">Broadway Health & Vitality</a></li>
            <li><a href="http://themassagetherapystudio.com/">The Massage Therapy Studio</a></li>
            <li><a href="https://www.petpickup.com/">Pet Pickup Inc.</a></li>
            <li><a href="https://www.sumolounge.com/">Sumo Lounge</a></li>
            <li><a href="http://andersoncp.com/">Anderson Commercial Properties</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li><a href="https://iseinc.com/">ISE Inc.</a></li>
            <li><a href="http://www.nettwerk.com/">Nettwerk Productions</a></li>
            <li><a href="https://www.lhsc.on.ca/">London Health Sciences Centre</a></li>
            <li><a href="https://www.centralexteriors.com/">Central Roofing & Siding Co.</a></li>
            <li><a href="https://www.clientime.ca/">Virtual Real Estate Receptionist</a></li>
            <li><a href="https://www.coastalsecuritygroup.net/">Coastal Security Group</a></li>
        </ul>
    </div>
</div>

@{
    //<li>Urbanmenu.com</li>
    //<li>Vintage Capital Corporation</li>
    //<li>Fitfix Health and Wellness, Inc</li>
    //<li>Marc1, Inc.</li>
    //<li>Yonge Davisville Therapy</li>
    //<li>Pinnacle BizTech Ltd.</li>
    //DMS Technologies, LLC</li>
}
