@{
    ViewBag.Title = "Clients";
}
<h2>Some Of Our Clients</h2>

<a href="https://alphatogo.com/"><img class="img-fluid" src="~/Content/Images/Clients/AlphaToGo.jpg" alt="AlphaToGo" /></a>
<a href="http://andersoncp.com/"><img class="img-fluid" src="~/Content/Images/Clients/AndersonCommericalProperty.jpg" alt="Anderson Commerical Property" /></a>
<a href="https://www.attorneygeneral.jus.gov.on.ca/english/"><img class="img-fluid" src="~/Content/Images/Clients/AttorneyGeneral.png" alt="Attorney General" /></a>
<a href="http://benchmarksw.com/"><img class="img-fluid" src="~/Content/Images/Clients/BenchmarkSoftware.jpg" alt="Benchmark Software" /></a>
<a href="https://broadwayhealth.ca/"><img class="img-fluid" src="~/Content/Images/Clients/BroadwayHealth.png" alt="Broadway Health" /></a>
<a href="http://bookcentre.ca/"><img class="img-fluid" src="~/Content/Images/Clients/CanadianChildrenBook1.png" alt="Canadian Children's Book Centre" /></a>
<a href="https://carlsonwagonlit.com/"><img class="img-fluid" src="~/Content/Images/Clients/CarlsonWagonlit.png" alt="Carlson Wagonlit" /></a>
<a href="https://centralexteriors.com/"><img class="img-fluid" src="~/Content/Images/Clients/CentralRoof.jpg" alt="Central Roof" /></a>
<a href="https://mcss.gov.on.ca/en/mcss/index.aspx"><img class="img-fluid" src="~/Content/Images/Clients/ChildrenCommunitySocialServices.png" alt="Children Community Social Services" /></a>
<a href="http://coldironcompanies.com/"><img class="img-fluid" src="~/Content/Images/Clients/Coldiron.png" alt="Coldiron" /></a>
<a href="https://gicwealth.ca/"><img class="img-fluid" src="~/Content/Images/Clients/GIC.png" alt="GIC" /></a>
<a href="https://iseinc.com/"><img class="img-fluid" src="~/Content/Images/Clients/ISE.png" alt="ISE" /></a>
<a href="http://themassagetherapystudio.com/"><img class="img-fluid" src="~/Content/Images/Clients/MassageTherapyStudio.png" alt="Massage Therapy Studio" /></a>
<a href="http://nettwerk.com/"><img class="img-fluid" src="~/Content/Images/Clients/Nettwerk.jpg" alt="Nettwerk" /></a>
<a href="https://ocasi.org/"<img class="img-fluid" src="~/Content/Images/Clients/OCASI.png" alt="OCASI" /></a>
<a href="https://petpickup.com/"><img class="img-fluid" src="~/Content/Images/Clients/PetPickup.png" alt="Pet Pickup" /></a>
<a href="https://smartchoicetimeshareresales.com/"><img class="img-fluid" src="~/Content/Images/Clients/SmartChoice.png" alt="SmartChoice" /></a>
<a href="https://sommers-law.ca/"><img class="img-fluid" src="~/Content/Images/Clients/SommersLaw.gif" alt="Sommers Law" /></a>
<a href="https://sumolounge.com/"><img class="img-fluid" src="~/Content/Images/Clients/SumoLounge.jpg" alt="Sumo Lounge" /></a>

<style>
    .img-fluid {
        width: 160px;
    }
</style>