@{
    ViewBag.Title = "Clients";
}

<div class="jumbotron">
    <h1>Clients</h1>
    <p class="lead">Helping customers succeed and run their business.</p>
    <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="https://www.carlsonwagonlit.com/"><div class="box" id="box1"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://americanpool.com/"><div class="box" id="box2"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://www.accupointmed.com/"><div class="box" id="box3"></div></a>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <a href="https://www.attorneygeneral.jus.gov.on.ca/english/"><div class="box" id="box4"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://mcss.gov.on.ca/en/mcss/index.aspx"><div class="box" id="box5"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://www.lhsc.on.ca/"><div class="box" id="box6"></div></a>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <a href="https://www.culinaryservicesgroup.com/"><div class="box" id="box7"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://gicwealth.ca/"><div class="box" id="box8"></div></a>
    </div>

    <div class="col-md-4">
        <a href="http://bookcentre.ca/"><div class="box" id="box9"></div></a>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <a href="http://www.benchmarksw.com/"><div class="box" id="box10"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://coldironcompanies.com/"><div class="box" id="box11"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://bidmytrucks.com/"><div class="box" id="box12"></div></a>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <a href="http://www.nettwerk.com/"><div class="box" id="box13"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://www.roghnu.com/"><div class="box" id="box14"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://www.adcoservice.com/"><div class="box" id="box15"></div></a>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <a href="https://broadwayhealth.ca/"><div class="box" id="box16"></div></a>
    </div>

    <div class="col-md-4">
        <a href="http://themassagetherapystudio.com/"><div class="box" id="box17"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://www.wccma.net/"><div class="box" id="box18"></div></a>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <a href="https://ocasi.org/"><div class="box" id="box19"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://www.afsdealers.com/"><div class="box" id="box20"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://www.sumolounge.ca/"><div class="box" id="box21"></div></a>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <a href="http://andersoncp.com/"><div class="box" id="box22"></div></a>
</div>

    <div class="col-md-4">
        <a href="https://www.alphatogo.com/"><div class="box" id="box23"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://www.smartchoicetimeshareresales.com/"><div class="box" id="box24"></div></a>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <a href="https://sommers-law.ca/"><div class="box" id="box25"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://www.coastalsecuritygroup.net/"><div class="box" id="box26"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://iseinc.com/"><div class="box" id="box27"></div></a>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <a href="https://www.centralexteriors.com/"><div class="box" id="box28"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://www.petpickup.com/"><div class="box" id="box29"></div></a>
    </div>

    <div class="col-md-4">
        <a href="https://www.countryboyspainting.com/"><div class="box" id="box30"></div></a>
    </div>
</div>

<style>
    .jumbotron {
        background: url(../Content/Images/Jumbotron/Buildings.jpg) no-repeat top left;
        background-size: cover;
    }

    .row {
        text-align: center;
    }

    #box1 {
        background-image: url("/Content/Images/Clients/CarlsonWagonlit2.png");
    }

    #box2 {
        background-image: url("/Content/Images/Clients/AmericanPool.jpg");
    }

    #box3 {
        background-image: url("/Content/Images/Clients/AccuPoint.png");
    }

    #box4 {
        background-image: url("/Content/Images/Clients/AttorneyGeneral.png");
    }

    #box5 {
        background-image: url("/Content/Images/Clients/ChildrenCommunitySocialServices.png");
    }

    #box6 {
        background-image: url("/Content/Images/Clients/LondonHealthSciencesCentre.JPG");
    }

    #box7 {
        background-image: url("/Content/Images/Clients/CSG.png");
    }

    #box8 {
        background-image: url("/Content/Images/Clients/GIC.png");
    }

    #box9 {
        background-image: url("/Content/Images/Clients/CanadianChildrenBook1.png");
    }

    #box10 {
        background-image: url("/Content/Images/Clients/BenchmarkSoftware.JPG");
    }

    #box11 {
        background-image: url("/Content/Images/Clients/Coldiron.png");
    }

    #box12 {
        background-image: url("/Content/Images/Clients/BidMyTrucks.png");
    }

    #box13 {
        background-image: url("/Content/Images/Clients/Nettwerk2.png");
    }

    #box14 {
        background-image: url("/Content/Images/Clients/Roghnu.png");
    }

    #box15 {
        background-image: url("/Content/Images/Clients/ADCO.png");
    }

    #box16 {
        background-image: url("/Content/Images/Clients/BroadwayHealth.png");
    }

    #box17 {
        background-image: url("/Content/Images/Clients/MassageTherapyStudio.png");
    }

    #box18 {
        background-image: url("/Content/Images/Clients/WCCMA.jpg");
    }

    #box19 {
        background-image: url("/Content/Images/Clients/OCASI.png");
    }

    #box20 {
        background-image: url("/Content/Images/Clients/AFS.png");
    }

    #box21 {
        background-image: url("/Content/Images/Clients/SumoLounge.jpg");
    }

    #box22 {
        background-image: url("/Content/Images/Clients/AndersonCommericalProperty.jpg");
    }

    #box23 {
        background-image: url("/Content/Images/Clients/AlphaToGo.jpg");
    }

    #box24 {
        background-image: url("/Content/Images/Clients/SmartChoice.png");
    }

    #box25 {
        background-image: url("/Content/Images/Clients/SommersLaw.gif");
    }

    #box26 {
        background-image: url("/Content/Images/Clients/CoastalSecurity.JPG");
    }

    #box27 {
        background-image: url("/Content/Images/Clients/ISE.png");
    }

    #box28 {
        background-image: url("/Content/Images/Clients/CentralRoof2.jpg");
    }

    #box29 {
        background-image: url("/Content/Images/Clients/PetPickup.png");
    }

    #box30 {
        background-image: url("/Content/Images/Clients/CBP.jpg");
    }

    .box {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        display: inline-block;
        width: 300px;
        height: 134px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

        .box::after {
            content: "";
            border-radius: 5px;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            opacity: 0;
            -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .box:hover {
            -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
        }

            .box:hover::after {
                opacity: 1;
            }
</style>