@{
    ViewBag.Title = "Clients";
}

<div class="jumbotron">
    <h1>Clients</h1>
    <p class="lead">Helping customers succeed and run their business.</p>
    <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="box" id="box1"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box2"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box3"></div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="box" id="box4"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box5"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box6"></div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="box" id="box7"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box8"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box9"></div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="box" id="box10"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box11"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box12"></div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="box" id="box13"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box14"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box15"></div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="box" id="box16"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box17"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box18"></div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="box" id="box19"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box20"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box21"></div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="box" id="box22"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box23"></div>
    </div>

    <div class="col-md-4">
        <div class="box" id="box24"></div>
    </div>
</div>

<style>
    .jumbotron {
        background: url(../Content/Images/Jumbotron/Buildings.jpg) no-repeat top left;
        background-size: cover;
    }

    .row {
        text-align: center;
    }

    #box1 {
        background-image: url("/Content/Images/Clients/CarlsonWagonlit2.png");
    }

    #box2 {
        background-image: url("/Content/Images/Clients/AmericanPool.jpg");
    }

    #box3 {
        background-image: url("/Content/Images/Clients/LondonHealthSciencesCentre.JPG");
    }

    #box4 {
        background-image: url("/Content/Images/Clients/AttorneyGeneral.png");
    }

    #box5 {
        background-image: url("/Content/Images/Clients/ChildrenCommunitySocialServices.png");
    }

    #box6 {
        background-image: url("/Content/Images/Clients/CanadianChildrenBook1.png");
    }

    #box7 {
        background-image: url("/Content/Images/Clients/CSG.png");
    }

    #box8 {
        background-image: url("/Content/Images/Clients/GIC.png");
    }

    #box9 {
        background-image: url("/Content/Images/Clients/Nettwerk.jpg");
    }

    #box10 {
        background-image: url("/Content/Images/Clients/BenchmarkSoftware.JPG");
    }

    #box11 {
        background-image: url("/Content/Images/Clients/CoastalSecurity.JPG");
    }

    #box12 {
        background-image: url("/Content/Images/Clients/Coldiron.png");
    }

    #box13 {
        background-image: url("/Content/Images/Clients/BroadwayHealth.png");
    }

    #box14 {
        background-image: url("/Content/Images/Clients/MassageTherapyStudio.png");
    }

    #box15 {
        background-image: url("/Content/Images/Clients/WCCMA.jpg");
    }

    #box16 {
        background-image: url("/Content/Images/Clients/AndersonCommericalProperty.jpg");
    }

    #box17 {
        background-image: url("/Content/Images/Clients/AlphaToGo.jpg");
    }

    #box18 {
        background-image: url("/Content/Images/Clients/SmartChoice.png");
    }

    #box19 {
        background-image: url("/Content/Images/Clients/OCASI.png");
    }

    #box20 {
        background-image: url("/Content/Images/Clients/SommersLaw.gif");
    }

    #box21 {
        background-image: url("/Content/Images/Clients/SumoLounge.jpg");
    }

    #box22 {
        background-image: url("/Content/Images/Clients/PetPickup.png");
    }

    #box23 {
        background-image: url("/Content/Images/Clients/CentralRoof.jpg");
    }

    #box24 {
        background-image: url("/Content/Images/Clients/ISE.png");
    }

    .box {
        background-position: center;
        background-size: contain;
        background-repeat:no-repeat;
        position: relative;
        display: inline-block;
        width: 300px;
        height: 200px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .box::after {
        content: "";
        border-radius: 5px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .box:hover {
        -webkit-transform: scale(1.25, 1.25);
        transform: scale(1.25, 1.25);
    }

    .box:hover::after {
        opacity: 1;
    }
</style>