@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    50 St. Clair Ave East, 3rd Floor<br />
    Toronto, ON Canada M4T 1M9<br />
    <abbr title="Phone">P:</abbr>
    (416) 533-3777
</address>

<address>
    <strong>Sales:</strong>   <a href="mailto:Sales@reainc.net">Sales@reainc.net</a><br />
    <strong>Support:</strong> <a href="mailto:Support@reainc.net">Support@reainc.net</a><br />
    <strong>Webmaster:</strong> <a href="mailto:Webmaster@reainc.net">Webmaster@reainc.net</a>
</address>