@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>REA Inc.</h1>
    <p class="lead">IT Consulting, Web Applications, Computer Support.  We Get I.T.</p>
    <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <p class="follow"><i class="fas fa-comments fa-10x"></i></p>
        <h3>IT Consulting</h3>
        <p class="follow">
            REA Inc. does more than just sell technology – we combine small business and technology
            consulting expertise to develop IT solutions to your real business challenges.
        </p>
        <p class="follow"><a class="btn btn-primary btn-sm" href="../Home">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p class="follow"><i class="fas fa-code fa-10x"></i></p>
        <h3>Website Design</h3>
        <p class="follow">
            A professional web designer is a person who manages to ignore his personal likes and dislikes 
            and creates the layout that satisfies and attracts the audience of the future site.
        </p>
        <p class="follow"><a class="btn btn-primary btn-sm" href="../Home">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p class="follow"><i class="fas fa-table fa-10x"></i></p>
        <h3>Application Design</h3>
        <p class="follow">
            It is important to make the correct decisions during the application design phase. At REA inc.
            we offer the most robust, state of the art application design solutions.
        </p>
        <p class="follow"><a class="btn btn-primary btn-sm" href="../Home">Learn more &raquo;</a></p>
    </div>
        <div class="col-md-3">
            <p class="follow"><i class="fas fa-memory fa-10x"></i></p>
            <h3>Hardware Installation</h3>
            <p class="follow">
                With advancing technology, the computer peripherals are upgraded often. We provide hardware 
                installation services to help you get the maximum value from your PC systems.
            </p>
        <p class="follow"><a class="btn btn-primary btn-sm" href="../Home">Learn more &raquo;</a></p>
    </div>
</div>

<style>
    h3, p.follow {
        text-align: center;
    }

    .jumbotron {
        background: url(../Content/Images/Balloons.jpg) no-repeat top left;
        background-size: cover;
    }
</style>