@{
    ViewBag.Title = "Looking For A Job?";
}
<h2>@ViewBag.Title</h2>

<p>
    We’re always looking for talented people.
    <br /><br />
    Do you have experience programming? Do you have PC support experience?
    <br /><br />
    Here are some of the technologies/services that our clients are requesting:
</p>

<b>Languages:</b>
<ul>
    <li>Coldfusion</li>
    <li>C#, ASP, VB.NET, VB6</li>
    <li>PHP, Yii Framework</li>
    <li>Alpha Software v10,v11 and AlphaAnywhere</li>

</ul>

<b>Databases:</b>
<ul>
    <li>Microsoft SQL</li>
    <li>Pervasive SQL</li>
    <li>MySQL</li>
    <li>Firebird</li>
</ul>


<b>Operating Systems:</b>
<ul>
    <li>Microsoft Server 2003, 2008, 2012</li>
    <li>Windows XP, 7, 8, 8.1, 10</li>
    <li>Linux/Apache, cPanel, WHM</li>
</ul>

<b>Other Skills:</b>
<ul>
    <li>Network support and PC Support</li>
    <li>Graphic Design</li>
    <li>WordPress</li>
    <li>Mentoring/Training</li>
</ul>

<h3>Send a cover letter with your resume to <a href="mailto:jobs@reainc.net">Jobs@reainc.net</a></h3>