@{
    ViewBag.Title = "Portfolio";
}

<style>
    /* MAIN CONTAINER */
    .overlay-image {
        position: relative;
        width: 100%;
    }

    /* ORIGINAL IMAGE */
    .overlay-image .image {
        display: block;
        width: 100%;
        height: auto;
    }

    /* ORIGINAL TEXT OVERLAY */
    .overlay-image .text {
        color: black;
        font-size: 30px;
        line-height: 1.5em;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .overlay-image .hover {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
    }

    /* NEW OVERLAY APPEARANCE ON HOVER */
    .overlay-image:hover .hover {
        opacity: 0.5;
    }

    .overlay-image .normal {
        transition: .5s ease;
    }
    .overlay-image:hover .normal {
        opacity: 0;
    }
    .overlay-image .hover {
        background-color: white;
    }

    .jumbotron {
        background: url(../Content/Images/Jumbotron/Mountains.jpg) no-repeat top left;
        background-size: cover;
    }
</style>

<div class="jumbotron">
    <h1>Portfolio</h1>
    <p class="lead">Take a look at some of our database business applications.</p>
    <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/BingoLottoFun.png" alt="Bingo Lotto Fun" />
            <div class="hover">
                <div class="text">Bingo Lotto Fun</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/BodyPulse.jpg" alt="Body Pulse" />
            <div class="hover">
                <div class="text">Body Pulse</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/BroadwayHealthAndVitality.jpg" alt="Broadway Health And Vitality" />
            <div class="hover">
                <div class="text">Broadway Health And Vitality</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/CarlsonWagonlit1.png" alt="Carlson Wagonlit" />
            <div class="hover">
                <div class="text">Carlson Wagonlit</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/CaymanFreelancer1.png" alt="Cayman Freelancer" />
            <div class="hover">
                <div class="text">Cayman Freelancer</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/CreateInfiniteHealing.jpg" alt="Create Infinite Healing" />
            <div class="hover">
                <div class="text">Create Infinite Healing</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/FitFix1.png" alt="Fit Fix" />
            <div class="hover">
                <div class="text">Fit Fix</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/GICWealthManagement1.png" alt="GIC Wealth Management" />
            <div class="hover">
                <div class="text">GIC Wealth Management</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/InMyLanguage.jpg" alt="In My Language" />
            <div class="hover">
                <div class="text">In My Language</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/MyClientSchedule1.jpg" alt="My Client Schedule" />
            <div class="hover">
                <div class="text">My Client Schedule</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/Nettwerk1.png" alt="Nettwerk" />
            <div class="hover">
                <div class="text">Nettwerk</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/Pet.jpg" alt="Pet" />
            <div class="hover">
                <div class="text">Pet</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/PetPickup1.png" alt="Pet Pickup" />
            <div class="hover">
                <div class="text">Pet Pickup</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/RaceAnalyser.jpg" alt="Race Analyser" />
            <div class="hover">
                <div class="text">Race Analyser</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/Revizit1.jpg" alt="Revizit" />
            <div class="hover">
                <div class="text">Revizit</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/SmartChoice.png" alt="Smart Choice" />
            <div class="hover">
                <div class="text">Smart Choice</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/Sommers.jpg" alt="Sommer's" />
            <div class="hover">
                <div class="text">Sommer's</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/VintageCapitalCorporation.jpg" alt="Vintage Capital Corporation" />
            <div class="hover">
                <div class="text">Vintage Capital Corporation</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/WCCMA1.png" alt="WCCMA" />
            <div class="hover">
                <div class="text">WCCMA</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="overlay-image">
            <img class="img-thumbnail" src="~/Content/Images/Portfolio/YongeAndDavisvilleTherapy.jpg" alt="Yonge And Davisville Therapy" />
            <div class="hover">
                <div class="text">Yonge And Davisville Therapy</div>
            </div>
        </div>
    </div>
</div>