@{
    ViewBag.Title = "Portfolio";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/BingoLottoFun.png" alt="Bingo Lotto Fun" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/BodyPulse.jpg" alt="Body Pulse" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/BroadwayHealthAndVitality.jpg" alt="Broadway Health And Vitality" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/CarlsonWagonlit1.png" alt="Carlson Wagonlit" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/CaymanFreelancer1.png" alt="Cayman Freelancer" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/CreateInfiniteHealing.jpg" alt="Create Infinite Healing" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/FitFix1.png" alt="Fit Fix" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/GICWealthManagement1.png" alt="GIC Wealth Management" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/InMyLanguage.jpg" alt="In My Language" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/MyClientSchedule1.jpg" alt="My Client Schedule" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/Nettwerk1.png" alt="Nettwerk" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/Pet.jpg" alt="Pet" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/PetPickup1.png" alt="Pet Pickup" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/RaceAnalyser.jpg" alt="Race Analyser" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/Revizit1.jpg" alt="Revizit" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/SmartChoice.png" alt="Smart Choice" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/Sommers.jpg" alt="Sommer's" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/VintageCapitalCorporation.jpg" alt="Vintage Capital Corporation" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/WCCMA1.png" alt="WCCMA" />
    </div>
    <div class="col-md-3">
        <img class="img-thumbnail" src="~/Content/Images/YongeAndDavisvilleTherapy.jpg" alt="Yonge And Davisville Therapy" />
    </div>
</div>