@{
    ViewBag.Title = "Portfolio";
}
<h2>@ViewBag.Title</h2>

<ul>
    <li>Create Infinite Healing</li>
    <li>Broadway Health and Vitality</li>
    <li>Sommer's</li>
    <li>In My Language</li>
    <li>Y&D Therapy</li>
    <li>Race Analyser</li>
    <li>Revizit</li>
    <li>PET</li>
    <li>Vintage Capital Corp</li>
    <li>GIC Wealth Management, Inc.</li>
    <li>Bingo Lotto Fun</li>
    <li>My Client Schedule</li>
    <li>WCCMA</li>
    <li>BodyPulse</li>
    <li>Pet Pickup</li>
    <li>Carlson Wagonlit Travel Teammate</li>
    <li>NETTWERK</li>
    <li>Smartchoice</li>
    <li>Cayman Freelancer</li>
    <li>FitFix</li>
</ul>