@{
    ViewBag.Title = "Products";
}

<div class="jumbotron">
    <h1>Products</h1>
    <p class="lead">Get the most out of your business by saving time and money.</p>
    <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>REVIZIT</h3>
        <p>
            An online SAAS project management system offering for small businesses: consultant and employee time
            tracking, task and project management, and client invoice preparation/generation.
            <br /><br />
            Please visit <a href="https://revizit.com/register.a5w">https://REVIZIT.com/register.a5w</a> to register for an online demo, and for further
            information on our software solution for small to mid-sized businesses.
        </p>
    </div>
    <div class="col-md-4">
        <h3>MyClientSchedule</h3>
        <p>
            An online SAAS patient/client scheduling/billing software for practitioners requiring a cost
            effective and simple solution to manage patients.
            <br /><br />
            Please visit: <a href="https://MyClientSchedule.com/">https://MyClientSchedule.com</a> to register for an online demo, and for further
            information on our software solution for small to mid-sized practitioners.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Alpha Software Add-ons</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
    </div>
    <div class="col-md-4">
        <h3>REA Automailer</h3>
        <p>
            Email queuing package for Alpha 5(tm) software<br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </p>
    </div>
    <div class="col-md-4">
        <h3>REA CHASE API</h3>
        <p>
            CHASE(tm) Orbital Payments(tm) integration tool for Alpha 5(tm) software<br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </p>
    </div>
    <div class="col-md-4">
        <h3>REA ILS</h3>
        <p>
            Integrated Licensing System<br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </p>
    </div>
</div>

<style>
    .jumbotron {
        background: url(../Content/Images/Jumbotron/Beach.jpg) no-repeat top left;
        background-size: cover;
    }
</style>
