@{
    ViewBag.Title = "Sent";
}

<div class="jumbotron">
    <h1>Thank you</h1>
    <p class="lead">Your message has been received.</p>
    <p><a href="../Home/Contact" class="btn btn-primary btn-lg">Back to Contact &raquo;</a></p>
</div>

<style>
    .jumbotron {
        background: url(../Content/Images/Jumbotron/PC3.jpg) no-repeat top left;
        background-size: cover;
    }
</style>