@{
    ViewBag.Title = "Services";
}

<div class="jumbotron">
    <h1>Services</h1>
    <p class="lead">Reach your goals and gain an advantage.</p>
    <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>IT Consulting <i class="fas fa-comments"></i></h3>
        <p>
            REA Inc. combines small business and technology consulting expertise to develop IT solutions to your real
            business challenges.
        </p>
    </div>
    <div class="col-md-3">
        <h3>Application Design <i class="fas fa-table"></i></h3>
        <p>
            It is important to make the correct decisions during the application design phase.  At REA inc. we offer robust,
            state of the art application design solutions.
        </p>
    </div>
    <div class="col-md-3">
        <h3>Programming Skills <i class="fas fa-code"></i></h3>
        <p>
            We have experience with Coldfusion, Microsoft .NET, C#, VB.NET, C++, VB6, PHP, MySQL, Microsoft SQL, Pervasive SQL.
        </p>
    </div>
    <div class="col-md-3">
        <h3>Troubleshooting <i class="fas fa-search"></i></h3>
        <p>
            Have malware or a virus? Or is your computer just running slow? Give us a call and we'll help figure out what the
            problem is.
        </p>
    </div>
    <div class="col-md-3">
        <h3>SUSTAIN <i class="fas fa-gavel"></i></h3>
        <p>
            SUSTAIN Justice Edition programming services.
        </p>
    </div>
    <div class="col-md-3">
        <h3>Alpha Software <i class="fas fa-at"></i></h3>
        <p>
            Alpha Software v10.5, v11 and AlphaAnywhere programming services.
        </p>
    </div>
    <div class="col-md-3">
        <h3>Training <i class="fas fa-book"></i></h3>
        <p>
            We offer training on a one-to-one basis, as well as in a classroom setting.
        </p>
    </div>
</div>

<style>
    .jumbotron {
        background: url(../Content/Images/Jumbotron/Trees.jpg) no-repeat top left;
        background-size: cover;
    }
</style>