
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Practice</h1>
    <p class="lead">Practice code.</p>
    <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<style>
    .jumbotron {
        background: url(../Content/Images/Jumbotron/Code.jpg) no-repeat top left;
        background-size: cover;
    }
</style>