@{
    ViewBag.Title = "Index";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div class="jumbotron">
    @if (Session["userFirstName"] != null)
    {
        <h1>Hi @Session["userFirstName"].ToString()</h1>
    }
    <p class="lead">Practice code.</p>
    <p class="lead"><a href="@Url.Action("Logout","Login")">Logout</a></p>
    <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<style>
    .jumbotron {
        background: url(../Content/Images/Jumbotron/Code.jpg) no-repeat top left;
        background-size: cover;
    }
</style>