@model CompanyWebsite.Models.User

@{
    Layout = null;
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="full" id="section-home">

    <div class="jumbotron" id="jumbotron-login">
        <h1>Login</h1>
        <div id="login-div">
            @using (Html.BeginForm("Authorize", "Practice", FormMethod.Post))
            {
                <table>
                    <tr>
                        <td>
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "Username", @class = "form-control" } })
                        </td>
                    </tr>
                    <tr class="blank-row"><td></td></tr>
                    <tr>
                        <td>
                            @Html.EditorFor(model => model.UserPass, new { htmlAttributes = new { placeholder = "Password", type = "password", @class = "form-control" } })
                        </td>
                    </tr>
                    <tr class="blank-row"><td></td></tr>
                    <tr>
                        <td>
                            <input type="submit" name="submit" value="Login" class="btn btn-primary btn-group-sm" />
                            <input type="reset" name="reset" value="Clear" class="btn btn-primary btn-group-sm" />
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>

</div>

<style>
    @@font-face {
        font-family: 'SFProDisplay-Light';
        src: url('/fonts/SF/SFProDisplay-Light.ttf') format("truetype");
    }

    * {
        font-family: 'SFProDisplay-Light';
    }

    .jumbotron {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
    }

    .blank-row {
        height: 5px !important;
    }

    /*SECTION JUMBOTRONS*/
    #jumbotron-login {
        background-image: url(../Content/Images/Jumbotron/PC2.jpg);
        height: 100%;
        background-attachment: fixed;
    }
</style>